/* editor styles */
#content {
	width: 100%;
	height: 360px;
	min-height: 240px;
	margin: 0;
	padding: 0;
}
#content > .row {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* editor styles */
#editor {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#editor-save-xs {
	position: fixed;
	top: 32px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	z-index: 1000;
}

/* menu-styles */
#menu-xs {
	width: 100%;
	height: 360px;
	min-height: 240px;
	top: 0;
	left: 0;
	background-color: white;
}
#menu-xs-open {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	z-index: 1000;
}
#menu-xs-close {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	z-index: 1000;
}

/* entry styles */
#entry-main .list-group {
	border: 0;
	margin: 0;
	padding: 2px 0 2px 0;
}
#entry-main .list-group-item {
	border: 0;
	margin: 0;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 2px;
}
#entry-main .list-group-item.active:nth-child(even) {
	background-color: #428bca;
}
#entry-main .list-group-item:nth-child(even) {
	background-color: #eee;
}
#entry-main .list-group-item.active a {
	color: white;
}
.entry-control {
	float: right;
}
[depth="1"] {
	padding-left: inherit;
}
[depth="2"] {
	padding-left: 20px;
}
[depth="3"] {
	padding-left: 40px;
}
[depth="4"] {
	padding-left: 60px;
}
[depth="5"] {
	padding-left: 80px;
}
[depth="6"] {
	padding-left: 100px;
}
[depth="7"] {
	padding-left: 120px;
}
[depth="8"] {
	padding-left: 140px;
}
[depth="9"] {
	padding-left: 160px;
}

/* shell styles */
#shell-main {
	width: 100%;
	height: 100%;
}
#shell-command {
	width: 100%;
	color: #ccc;
	background-color: black;
	padding: 0;
	margin: 0;
	border-bottom: solid 1px #444;
}
#shell-prompt {
	color: #444;
}
#shell-query {
	width: 90%;
}
#shell-query:focus {
	outline: none;
}
#shell-log-clear {
	width: 32px;
	text-align: center;
	float: right;
	background-color: #444;
	border: transparent;
	border-radius: 4px;
}

/* log styles */
#log-main {
	width: 100%;
	height: 100%;
}
#log-container {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#log-clear {
	float: right;
}
.log-line {
	color: #ccc;
	padding: 0;
	word-break: break-all;
	/* XXX invalidate bootstrap pre style */
	border: 0;
	background-color: black;
	margin: 0;
}
.log-line.line-separated {
	border-top: solid 1px #444;
	padding: 4px 0 0 0;
}
.log-line.line-close::before {
	content: ">";
	color: #444;
}
.log-line.line-close {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}