<DOCTYPE html>
<html lang="ja">
	<head>
		<title>Editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="..\public\css\sanitize.css" rel="stylesheet">
		<link href="..\public\css\editor.css" rel="stylesheet">
		<style type="text/css" charset="utf8">
			.entry-depth0 {
				padding-left: inherit;
			}
			.entry-depth1 {
				padding-left: 20px;
			}
			.entry-depth2 {
				padding-left: 40px;
			}
			.list-group-item.entry-item:nth-child(even) {
				background-color: #eee;
			}
		</style>
	</head>
	<body>
		<ul class="list-group" id="entry-main">
			<li class="list-group-item entry-item entry-depth0">
				<i class="glyphicon glyphicon-option-vertical"></i>
				<a>/file</a>
			</li>
			<li class="list-group-item entry-item entry-depth0">
				<i class="glyphicon glyphicon-folder-open"></i>
				<a>/dir</a>
			</li>
			<li class="list-group-item entry-item entry-depth1">
				<i class="glyphicon glyphicon-option-vertical"></i>
				<a>/dir/file</a>
			</li>
			<li class="list-group-item entry-item entry-depth1">
				<i class="glyphicon glyphicon-folder-open"></i>
				<a>/dir/dir</a>
			</li>
			<li class="list-group-item entry-item entry-depth2">
				<i class="glyphicon glyphicon-option-vertical"></i>
				<a>/dir/dir/file</a>
			</li>
		</ul>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
		<script type="text/javascript" charset="utf8">
			'use strict';
			
		</script>
	</body>
</html>