<DOCTYPE html>
<html lang="ja">
	<head>
		<title>Editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sanitize.css" rel="stylesheet">
		<link href="css/editor.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid" id="content">
			<div class="row">
				<div class="col-xs-12" id="editor"></div>
			</div>
		</div>
		<button class="btn btn-primary glyphicon glyphicon-th-list" data-toggle="modal" data-target="#menu-xs" id="menu-xs-open"></button>
		<button class="btn btn-success glyphicon glyphicon-floppy-save" id="editor-save-xs" data-bind="click: save"></button>
		<div class="modal" id="menu-xs" style="display: none;">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" id="menu-controlls">
					<li><a class="glyphicon glyphicon-briefcase" data-toggle="tab" href="#menu-entry"></a></li>
					<li><a class="glyphicon glyphicon-console" data-toggle="tab" href="#menu-shell"></a></li>
					<li><a class="glyphicon glyphicon-dashboard" data-toggle="tab" href="#menu-log"></a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="menu-entry">
						<ul class="list-group" id="entry-main" data-bind="foreach: entries">
							<li class="list-group-item" data-bind="attr: $data.attr, css: $data.selected">
								<i class="glyphicon" data-bind="css: $data.class">
									<a data-bind="text: $data.path, click: $data.click"></a>
								</i>
								<div class="entry-control" data-bind="if: $data.edited">
									<span>
										<a class="glyphicon glyphicon-pencil" style="float: left" data-bind="click: $data.rename"></a>
										<a class="glyphicon glyphicon-trash" style="float: right" data-bind="click: $data.delete"></a>
									</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="menu-shell">
						<div id="shell-main">
							<div id="shell-command">
								<span id="shell-prompt">$</span>
								<input id="shell-query" type="text" placeholder="input command" list="shell-history" data-bind="value: query, css: css, valueUpdate: 'keypress', event: { keypress: click }">
								<button id="shell-log-clear" data-bind="click: clear">x</button>
								<datalist id="shell-history" data-bind="foreach: history">
									<option data-bind="value: $data">
								</datalist>
							</div>
							<div id="log-container" data-bind="foreach: logs">
								<pre class="log-line" data-bind="text: $data.log, css: $data.css, click: $data.expand"></pre>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="menu-log">
						<div id="log-main">
							<button class="btn btn-primary glyphicon glyphicon-trash" id="log-clear" data-bind="click: clear"></button>
							<div id="log-container" data-bind="foreach: logs">
								<div class="log-line" data-bind="text: $data.log, css: $data.css, click: $data.expand"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary glyphicon glyphicon-remove-circle" data-toggle="modal" data-target="#menu-xs" id="menu-xs-close"></button>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
		<script src="js/models/_log.js" type="text/javascript" chatset="utf8"></script>
		<script src="js/models/editor.js" type="text/javascript" chatset="utf8"></script>
		<script src="js/models/entry.js" type="text/javascript" chatset="utf8"></script>
		<script src="js/models/log.js" type="text/javascript" chatset="utf8"></script>
		<script src="js/models/shell.js" type="text/javascript" chatset="utf8"></script>
		<script src="js/client.js" type="text/javascript" chatset="utf8"></script>
	</body>
</html>